.button {
    padding: 0.5rem;
    background-color: rgb(131, 12, 72);
    font-size: inherit;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.button:hover {
    background-color: rgb(202, 5, 104);
}